
.Unit{ 
    margin-left: 800px; 
} 
.container{ 
    width: 1200px; 
    height: 600px; 
    display: flex; 
     
} 
 
.di{ 
    display: flex; 
    padding-top: 150px; 
} 
.info{ 
    width: 600px; 
    height: 600px; 
     
    .form-select{ 
        width: 200px; 
        margin-left: 10px; 
    } 
    .bt{ 
        padding: 20px; 
        margin: 10px; 
        border-radius: 60%; 
        background-color: transparent; 
    } 
    
} 
.box2{ 
    margin-right: 100px; 
    height: 600px; 
    width: 5px; 
    background-color: black; 
} 
.take{ 
    width: 600px; 
    height: 600px; 
    h2{ 
        margin-left: 10px; 
    } 
    .b{ 
        background-color: rgb(10, 10, 222); 
        margin-left: 200px; 
        margin-top: 100px; 
        border: none; 
    } 
}